.header {
    display: flex;
    justify-content: space-between;
    letter-spacing: 15px;
    font-size: 1rem;
    color: white;
    z-index: 200;
}

.theme {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.theme:hover {
    transform: scale(1.2);
    transition: transform .5s ease-in-out;
}